p {
    color: blueviolet;
}

.byClass {
    color: blue;
}

#byId {
    color: blueviolet;
}

input[type="number"][data-role="phone-number"] {
    width: 10rem;
}
body {
    /* background-color: rgb(200, 200, 200); */
    /* background-color: rgb(50%, 50%, 50%); */
    /* background-color: #00FF00; */
    background-color: hsl(120, 100%, 75%);
    /* background-color: rgba(255, 0, 255, 0.5); // a-> for color tranperancy */
    /* background-color: hsla(25, 40%, 85%, 0.7); //Hue, Saturation, Lightness, Alpha Value */
    font-family: "Times New Roman";
    /* font-family: "Arial", serif; */
    /* background: url('puppy.png'); //for background-image */
    /* background-repeat: repeat-x; */
    /* background: linear-gradient(blue, purple); */
    /* background: linear-gradient(90deg, blue, purple); */
    /* background: radial-gradient(blue, purple); */


}

h4 {
    text-decoration: underline;
}
.solid {
    text-decoration-style: solid;
}
.wavy {
    text-decoration-style: wavy;
}
.double {
    text-decoration-style: double;
}
.dotted {
    text-decoration-style: dotted;
}
.dashed {
    text-decoration-style: dashed;
}

h1 {
    text-shadow: -4px 4px 4px red;
}

.blue-border {
    border: 2px dashed blue;
    padding: 1rem;
}
.rounded-corners {
    border: 0.5rem solid purple;
    padding: 1rem;
    border-radius: 1rem;
}
.box-shadow {
    background-color: lightpink;
    border: 0.25rem solid red;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0.5rem 0.5rem 0.25rem darkgray;
}
.no-padding {
    background-color: lightblue;
    padding: 0;
}
.some-padding {
    background-color: lightblue;
    padding: 2rem;
}
.content {
    background-color: pink;
    width: 20rem;
    height: 10rem;
    max-width: 15rem;
    max-height: 5rem;
}

.low-space {
    background-color: green;
    margin-left: 1rem;    
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
}
.med-space {
    background-color: green;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-left: 5rem;
}
.high-space {
    background-color: green;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-left: 10rem;
}

.content-box {
    width: 5rem;
    height: 5rem;
    border-width: 1rem;
    padding: 3rem;
    box-sizing: content-box;
    background-color: red;
}
.border-box {
    width: 5rem;
    height: 5rem;
    border-width: 1rem;
    padding: 3rem;
    box-sizing: border-box;
    background-color: blue;
}

/* css grouping */
/* 
h1, h2, .highlight {
    color: darkgray;
} 

/*  css nesting
main p {
    font-size: 1rem;
}
header p, footer p {
    font-size: 0.75rem;
}

Child Selector
main > p {
	font-size: 1rem;
}
header > p {
	font-size: 0.75rem;
}

Adjacent Selector:
Let's say you wanted the first paragraph after every h1 tag to be in a larger font size.
h1 + p {
	font-size: 125%;
}

*/
a:visited {
    color: purple;
}
a:link {
    color: blue;
}

.hover p:hover {
    background-color: brown;
}

.focus input {
    margin-bottom: 1rem;
}
.focus input:focus {
    background-color: chartreuse;
}

/* The active state is enabled when the user activates an element, like when a link is currently being clicked on.
a:active {
    background-color: lightblue;
} */



.accessChild p:first-child {
    background-color: rgb(72, 131, 72);
}
.accessChild p:nth-child(2) {
    background-color: rgb(190, 73, 92);
}
.accessChild p:last-child {
    background-color: rgb(89, 147, 167);
}
.accessChild p:nth-of-type(2) {
    background-color: rgb(190, 73, 92);
}


/* p:before {
    content: 'Hello ';
}
p:after {
    content: ' World!';
} */

/* p:first-letter {
    font-size: 5rem;
}
p:first-line {
    color: red
} */

/* variable creation in css
$sabe-purple: #360a4a;
.thing {
    color: $sabe-purple;
}
.other-thing {
    color: $sabe-purple;
} */


:root {
    --sabe-purple: #360a4a;
}
.cssVariables {
    color: var(--sabe-purple);
}

.displayBlock span{
    background-color: lightblue;
	padding: 0 0.5rem;
	display: block; /*inline-block;*/
}

.flexContainer {
    display: flex;
    flex-direction: column;
}
.flexContainerItem {
    width: 5rem;
    height: 5rem;
    background-color: lightblue;
    border: solid 1px blue;
}

.flexContainerAlign {
    display: flex;
    align-items: flex-start;
}
.flexContainerAlignItem {
    width: 5rem;
    background-color: lightblue;
    border: solid 1px blue;
}
.a {
    height: 5rem;
}
.b {
    height: 3rem;
}
.c {
    height: 7rem;
}
.d {
    height: 10rem;
}


.FlexOrder {
    display: flex;
}
.FlexOrderItem {
    width: 5rem;
    height: 5rem;
    background-color: lightblue;
    border: solid 1px blue;
}
.FlexOrderItem a {
    order: 0;
}

.Grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
          "top top top"
          "one three four"
          "five six four";
}
.Gridcell {
    background-color: lightblue;
    border: solid 1px blue;
}
.special {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-area: top;
}
.one {
    grid-area: one;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}

	
.columns {
    column-count: 3;
    /* column-width: 6rem; */
    column-count: 2;
    column-gap: 2rem;
    column-rule: 0.25rem double red;
}

.FColumn {
    width: 30%;
    float: left;
}
.SColumn {
    width: 30%;
    float: right;
}

body:hover {
    background-color: burlywood;
}